body{
    background-color: #ececec;
    color: #222;
}

/*header*/
#header{
    background:#036;
    position:relative;
    text-align:left;
}
#header h1{
    font-size:2em;
    font-weight:normal;
    padding:10px 0 20px 30px;
}
#header #settings_person{
    font-size:1em;
    padding:7px 10px;
    position:absolute;
    right:0;
    top:0;
}
#header #settings_person span.pipe {
    font-size:1em;
    opacity:0.6;
}
#header #settings_person a,#header #settings_person span.name{
    padding:7px 6px;
}

#updateinfo{
    position:absolute;
    top:0;
    left:30%;
    line-height:25px;
    padding:0 20px 0 20px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
}
/*header tabs*/
#tabs{
    height:1%;
}
#tabs #album_tabs{
    margin-left:30px;
}
#tabs #main_tabs{
    float:right;
    padding-right:15px;
}
#tabs li{
    display:inline;
}
#tabs li a{
    float:left;
    font-size:1.2em;
    font-weight:bold;
    line-height:1.2em;
    margin:0 1px;
    padding:5px 15px 6px;
    text-decoration:none;
}
#tabs li.trash a:visited,#tabs li.trash a:link{padding:2px 0 0 10px;background:none;}
#tabs li.trash a:hover{background:transparent;}
#tabs li a.current{
    background:-moz-linear-gradient(center top , #FDFDFD, #ECECEC);
    background:-webkit-gradient(linear,0% 0%, 0% 100%, from(#FDFDFD), to(#ECECEC));
    color:#222222;
    margin:0 1px;
    text-decoration:none;
}
#tabs div.clear{
    height:1px;
    overflow:hidden;
    background:#ECECEC;
}
/*body*/
#bodywrap{
    margin:20px 20px 0;
}
table.layout{
    width:100%;
    border-collapse: collapse;
}
table.layout td{
    text-align:left;
    vertical-align:top;
}
table.layout td.right{
    width:240px;
}
/*main left*/
.mainbody{
    background:#fff;
    margin-right:10px;
    -moz-box-shadow:3px 3px 4px #BBB;
    -webkit-box-shadow:3px 3px 4px #BBB;
    box-shadow:3px 3px 4px #BBB;
}
.mainbody .col{
    height:48px;
}
.mainbody .col h1{
    font-size:1.3em;
    margin:15px 0 0;
    padding-left:20px;
}
.mainbody .col h4{
   font-size:1em;
   font-weight:normal;
   color:#7f7f7f;
   margin:18px 0 0 20px;
}
.mainbody .col  .rmenu{
    padding:14px 20px;
    color:#666;
}
.mainbody .col  .rmenu a.current,.mainbody .col  .rmenu a.current:hover{
    color:#666;
    text-decoration:none;
    background:none;
}
.mainbody .col .selectlist .optlist a,.mainbody .col .selectlist .selected a{
    color:#4A4A4A;
}


.pset .selected,.pset .optlist{
    width:50px;
}
.viewtype .selected,.viewtype .optlist{
    width:100px;
}

/*图片列表*/
.gallary_wrap{
    padding:20px 4px 10px 35px;
}
.grid .gallary_wrap .gallary_item{
    display:inline-block;
    width:222px;
    margin-bottom:15px;
}
.grid .pic_box{
    float:left;
    width:180px;
    height:180px;
    overflow:hidden;
}
.grid .pic_box table{
    width:180px;
    height:180px;
    border:0;
    border-collapse: collapse;
}
.grid .pic_box table td{
    text-align: center;
    vertical-align: middle;
}
.grid .pic_box table td a{
    display:block;
    background:none;
}
.grid .brief{
    width:180px;
}
.grid .item{
    padding:6px 6px 0;
    float:left;
    border:1px solid #eee;
    -moz-box-shadow:3px 3px 4px #ccc;
    -webkit-box-shadow:3px 3px 4px #ccc;
    box-shadow:3px 3px 4px #BBB;
}

.grid .sel_on .item{
    border:1px solid #eee;
    background:#f6f6f6;
    padding-right:0;
    position:relative;
    -webkit-box-shadow:2px 2px 8px rgba(0, 0, 0, 0.45);
    -moz-box-shadow:2px 2px 8px rgba(0, 0, 0, 0.45);
    box-shadow:3px 3px 4px rgba(0, 0, 0, 0.45);
}
.grid .pic_ctl{
    display:none;
}
.grid .sel_on .pic_ctl{
    float:left;
    display:block;
    padding:0 5px;
}
.grid .sel_on .pic_ctl a{
    background:none;
}
.grid .sel_on .pic_ctl ul.btns li{
    margin-bottom:5px;
}
.grid .info{
    clear:both;
    width:200px;
    padding:8px 0;
}
.grid .info .title{
    width:200px;
    height:1.8em;
    overflow:hidden;
    font-size:1.2em;
    line-height:1.8;
}
.grid .info .title input.selitem{
    margin:6px 5px 0 0 !important;
    margin:2px 5px 0 0;
    float:left;
}
.grid .info .title span.name{
    float:left;
    overflow:hidden;
    width:175px;
}

.grid .info .title span.name a,.grid .sel_on .title span.name a{
    color:#333;
    text-decoration:none;
    cursor:text;
    display:block;
}
.grid .sel_on .title span.name a:hover{
    background:#ffb;
}
.grid .info .info_col{
    margin-top:-1px;
    padding-top:1px;
    overflow:hidden;
}
.grid .info .info_col .f_left{
    padding-left:5px;
}
.grid .item .f_left,.grid .item .f_right{
    line-height:2;
}
.grid .info .info_col span.cover{
    background:green;
    color:white;
    padding:0 4px;
}
.bot_toolbar{
    clear:both;
    padding:10px 20px 10px 40px;
}

/*sidebar*/
.sidebar{padding-left:10px;}
.sidesearch{clear:both;}
.sidesearch h2{
    font-size:1.2em;
    color:#7f7f7f;
    padding:5px 0 10px;
}
.album_info{
    border-bottom:1px solid #e1e1e1;
}
.album_info h2,.other_info h2{
    font-size:1.2em;
}
.sidebar .priv{
    padding:10px 5px;
    border-bottom:1px solid #e1e1e1;
}
.album_info .tags {
    margin-top:10px;
}
.sidebar .tinfo{
    padding:5px;
    color:#777;
    line-height:1.6;
    border-bottom:1px solid #e1e1e1;
}
.sidebar .sideline{
    height:2px;
    overflow:hidden;
    background:#fff;
}
.sidebar .editform .field{
    margin-top:-1px;
    margin-left:-2px;
    overflow:hidden;
    padding:5px 2px;
}
.sidebar .editform .label{
    font-size:1.2em;
    font-weight:bold;
    padding:5px 0;
}
.sidebar .album_info{
    clear:both;
}
.sidebar .album_info .info_body{
    color:#777;
    line-height:1.5;
}

/*foot*/
.bottom{
    height:8px;
    overflow:hidden;
}
.footer{
    clear:left;
    color:#999;
    font-size:9px;
    margin:3px 0 20px 40px;
    text-align:left;
}
.footer a{
    color:#999;
}
/*upload*/
#upload_field{
    padding:20px;
}
#upload_field .field{
    padding-left:10px;
}
#muilti_uploader .notice_info{
    padding:40px 0 40px 50px;
}