{template head}

<div class="main box1">
    <div class="bg1 title"><h3>最新上传的图片</h3></div>
    <div class="box_body">
    <table class="table100">
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
      <tr>
      <!--{if $piclist}-->
        <!--{loop $piclist $k $v}-->
        <!--{if $k!=0 && $k%5==0}-->
        </tr><tr>
        <!--{/if}-->
        <td class="phototd" id="i_{$v['id']}">
            <a href="index.php?ctl=photo&act=view&album={$v['album']}#photo={$v['id']}"><img src="{echo mkImgLink($v['dir'],$v['pickey'],$v['ext'],'thumb')}" /></a>
            <div class="line35">
                <a href="index.php?ctl=photo&act=view&album={$v['album']}#photo={$v['id']}">{$v['name']}</a>
            </div>
        </td>
        <!--{/loop}-->
      <!--{else}-->
        <td><div class="warning"> 当前没有任何图片！ </div></td>
      <!--{/if}-->
       </tr>
    </table>
    
     <div class="pageset">{$pageset}</div>
    </div>
</div>

{template foot}